ion-content {
  --background: linear-gradient(60deg,
      var(--ion-blue-text),
      var(--ion-blue-subtext));
}

// Fondo principal de la página
.unit-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  min-width: 600px;
  color: var(--ion-blue-text);

  &__grid {
    width: 100%;
    max-width: 1200px;
    min-width: 600px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px 14px 10px;
  }

  &__header-info {
    display: flex;
    align-items: baseline;
    gap: 15px;
  }

  &__unit-number {
    font-size: 2rem;
    font-weight: 900;
    color: var(--ion-blue-background);
    line-height: 1;
  }

  &__unit-type {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--ion-blue-background);
    opacity: 0.9;
    line-height: 1;
  }

  .logout-btn {
    --color: var(--ion-blue-background);
    --padding-start: 8px;
    --padding-end: 8px;
    margin: 0;
    height: 30px;
    font-size: 1.3rem;
    padding: 12px 0px;
  }

  &__section-title {
    display: block;
    color: var(--ion-blue-background);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 32px 0 16px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 4px solid var(--ion-red-action); // Detalle de armonía
    padding-left: 12px;
  }

  &__new-incidence-button {
    --background: var(--ion-red-action);
    --border-radius: 12px;
    --color: var(--ion-blue-background);
    --box-shadow: none;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    height: 45px;
    min-width: 130px;
    margin: 15px 5px;
  }
}

// Tarjetas de los empleados
.employee-card {
  background: var(--ion-blue-background);
  border-radius: 15px;
  box-shadow: 0 0rem 0.8rem rgb(0 0 0 / 50%);
  margin: 0 0 10px 0;
  padding: 8px 0 0 0;
  text-align: center;
  text-transform: capitalize;

  &__item {
    --background: transparent;
    --border-color: transparent;
    padding: 0;
  }

  &__avatar {
    --border-radius: 10%;
    width: 100px;
    height: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    color: var(--ion-blue-text);
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__subtitle {
    color: var(--ion-blue-text);
    font-weight: 300;
    font-size: 1.1rem;
  }

  &__content {
    padding: 0;
  }

  &__info-item {
    --background: transparent;
    --border-color: transparent;
    padding: 0;
  }

  &__info-label {
    color: var(--ion-blue-text);
    font-weight: 700;
  }

  &__chip {
    background: var(--ion-blue-highlight);
    color: var(--ion-blue-text);
    font-size: 1rem;
    font-weight: 300;
    margin: 10px 0 15px 0;
  }
}

// Tarjeta de inventario
.inventory-card {
  background: var(--ion-blue-background);
  border-radius: 15px;
  box-shadow: 0 0rem 0.8rem rgb(0 0 0 / 50%);
  margin: 0 4px 10px 4px;
  text-align: left;
  text-transform: capitalize;
  overflow: hidden;

  &__grid {
    display: grid;
    grid-template-columns: 3fr repeat(2, 1fr) 200px;
    width: 100%;
    @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    font-weight: 700;
    color: var(--ion-blue-text);
    font-size: 1rem;
  }

  &__item-label {
    margin: 0 0 4px 0;
    font-size: 0.8rem;
    opacity: 0.7;
    font-weight: 700;
  }

  &__button-col {
    grid-column: 4;
    min-width: 150px;
    padding: 0;
  }

  &__request-button {
    --background: var(--ion-red-action);
    --color: var(--ion-blue-background);
    --box-shadow: none;
    --border-radius: 0 15px 15px 0;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

// Estilo para la "Tabla" de Incidentes
.incidencias-table {
  //background: rgba(255, 255, 255, 0.08); // Estilo cristal suave
  border-radius: 15px;
  //border-radius: 15px;
  //backdrop-filter: blur(5px); // Difumina ligeramente el fondo para mejorar legibilidad
  //overflow: hidden;
  //margin: 10px;

  &__row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    align-items: center;
    padding: 12px 0;
    color: var(--ion-blue-background);

    /*
    &--header {
            background: rgba(0, 0, 0, 0.25);
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.85rem;
        }
    */
  }

  &__cell-text {
    margin: 0;
    padding: 0 10px;
  }
}

// Chips de estado para la tabla de incidencias
.status-chip {
  --color: var(--ion-blue-text);
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.8rem;

  &--pendiente {
    --background: var(--ion-red-action);
  }

  &--proceso {
    --background: #ffa500;
  }

  &--resuelta {
    --background: #2dd36f;
  }
}