JWT_SECRET= your JWT secret key

DB_HOST= your host
DB_USER= your user
DB_NAME= your database name
DB_DIALECT= your dialect
DB_PASSWORD= your password

PORT=your port

NODE_ENV= your environment (development/production)

/////////////////
// ROUTES PATH //
/////////////////
/*
API_URL= your API URL
DOTA_ROUTE= your dota route 
UNITS_ROUTE= your units route
EMPLOYEES_ROUTE= your employees route  
INVENTORY_ROUTE= your inventory route
INCIDENCES_ROUTE= your incidences route
*/
