JWT_SECRET= your JWT secret key

DB_HOST= your host
DB_USER= your user
DB_NAME= your database name
DB_DIALECT= your dialect
DB_PASSWORD= your password

PORT=your port

NODE_ENV= your environment (development/production)