// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

// Variables de color
:root {
  --ion-red-action: #e63946;
  --ion-blue-background: #e8f5e9;
  --ion-blue-highlight: #a8dadc;
  --ion-blue-subtext: #457b9d;
  --ion-blue-text: #1d3557;
}