// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

// Variables de color
:root {
  --ion-red-action: rgb(230, 57, 70);
  --ion-blue-background: rgb(232, 245, 233);
  --ion-blue-highlight: rgb(168, 218, 220);
  --ion-blue-subtext: rgb(69, 123, 157);
  --ion-blue-text: rgb(29, 53, 87);
}