<ion-content>
  <div class="unit-page">
    <ion-grid class="unit-page__grid">  

      <div class="unit-page__header">
        <div class="unit-page__header-info">
          <span class="unit-page__unit-number">UNIDAD {{ unit?.unitfleet }}</span>
          <span class="unit-page__unit-type">{{ unit?.typefleet }}</span>
          <ion-button fill="clear" (click)="goBack()" class="logout-btn">
              <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <!-- Bloque de dotación de la ambulancia -->
      <div>
        <ion-row>
          <!-- Tarjetas para mostrar la dotación de la ambulancia -->
            @for (employee of employees; track employee.dni) {
            <ion-col>
              <ion-card class="employee-card">
                <ion-item class="employee-card__item">
                  <!-- Muestra la foto del empleado -->
                  <ion-avatar class="employee-card__avatar">
                    <img alt="Foto del empleado" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                  </ion-avatar>
                  <!-- Muestra el nombre y apellidos -->
                  <ion-card-header class="employee-card__header">
                    <ion-card-title class="employee-card__title">{{ employee.name }}</ion-card-title>
                    <ion-card-subtitle class="employee-card__subtitle">{{ employee.surname }}</ion-card-subtitle>
                  </ion-card-header>
                </ion-item>
                <!-- Muestra el resto de los datos que se quieran mostrar -->
                <ion-card-content class="employee-card__content">
                  <ion-item class="employee-card__info-item">
                    <ion-text class="employee-card__info-text">
                      <span class="employee-card__info-label">{{ employee.prof }}</span>
                    </ion-text>
                  </ion-item>
                </ion-card-content>
                <!-- Muestra el puesto que ocupa dentro de la dotación -->
                <div class="employee-card__chips">
                  @if (employee.id == dota?.driveId) {
                  <ion-chip class="employee-card__chip"> Conductor </ion-chip>
                  } @if (employee.id == dota?.sanitId) {
                  <ion-chip class="employee-card__chip">
                    Sanitario
                  </ion-chip>
                  } @if (employee.id == dota?.facultId) {
                  <ion-chip class="employee-card__chip"> Facultativo </ion-chip>
                  }
                </div>
              </ion-card>
            </ion-col>
            }
        </ion-row>
      </div>

      <div class="unit-page__section">
        <ion-text class="unit-page__section-title">Inventario</ion-text>
        @for (product of inventory; track product.id){
        <ion-card class="inventory-card">
          <div class="inventory-card__grid">
            <ion-col class="inventory-card__item">
              <h5 class="inventory-card__item-label">ARTÍCULO</h5>
              {{ product.item_name }}
            </ion-col>
            <ion-col class="inventory-card__item">
              <h5 class="inventory-card__item-label">CANTIDAD</h5>
              {{ product.quantity }}
            </ion-col>
            <ion-col class="inventory-card__item">
              <h5 class="inventory-card__item-label">STOCK</h5>
              {{ product.status}}
            </ion-col>
            <ion-col class="inventory-card__button-col">
              <ion-button class="inventory-card__request-button ion-no-margin ion-no-padding" expand="full"
                fill="clear">
                Solicitar
              </ion-button>
            </ion-col>
          </div>
        </ion-card>
        }
      </div>

      <!-- Bloque de incidentes relacionandos con la ambulancia -->
      <div class="unit-page__section">
        <ion-text class="unit-page__section-title">INCIDENCIAS</ion-text>
        <!-- Tabla para mostrar los incidentes.
          Este primer bloque es la cabecera de la tabla -->
        <ion-grid class="incidencias-table">
          <ion-row class="incidencias-table__row incidencias-table__row--header">
            <ion-col size="1.5">
              <p class="incidencias-table__cell-text">TIPO</p>
            </ion-col>
            <ion-col size="6.5">
              <p class="incidencias-table__cell-text">DESCRIPCIÓN</p>
            </ion-col>
            <ion-col size="2.5">
              <p class="incidencias-table__cell-text">FECHA APERTURA</p>
            </ion-col>
            <ion-col>
              <p class="incidencias-table__cell-text">ESTADO</p>
            </ion-col>
          </ion-row>
          <!-- Este segundo bloque muestra los datos en la tabla -->
          @for (incident of incidences; track incident.id) {
          <ion-row class="incidencias-table__row">
            <ion-col size="1.5">
              <p class="incidencias-table__cell-text">
                {{ incident.incidence_type }}
              </p>
            </ion-col>
            <ion-col size="6.5">
              <p class="incidencias-table__cell-text">
                {{ incident.description }}
              </p>
            </ion-col>
            <ion-col size="2.5">
              <p class="incidencias-table__cell-text">
                {{ incident.date | date: 'dd / MM / yyyy - HH.mm' }}
              </p>
            </ion-col>
            <ion-col>
              @if (incident.status == 'Pendiente') {
                <ion-chip class="status-chip status-chip--pendiente">PENDIENTE</ion-chip>
              } @if (incident.status == 'En proceso') {
                <ion-chip class="status-chip status-chip--proceso">EN PROCESO</ion-chip>
              } @if (incident.status == 'Resuelta') {
                <ion-chip class="status-chip status-chip--resuelta">RESUELTA</ion-chip>
              }
            </ion-col>
          </ion-row>
          }
        </ion-grid>
      </div>

    </ion-grid>
  </div>
</ion-content>